<li class="story">
  <p>
    <a href="{{@story.url}}" target="_blank">{{@story.title}}</a>
    <span class="site">{{@story.site}}</span>
  </p>
  <small>
    {{@story.points}} points by <a href="{{@story.userUrl}}" target="_blank">{{@story.userName}}</a>
    | <a href="{{@story.discussUrl}}" target="_blank">{{@story.timestamp}}</a>
    | <a href="{{@story.discussUrl}}" target="_blank">Discuss</a>
    | <a href="{{@story.discussUrl}}" target="_blank">{{@story.comments}} comments</a>
  </small>
</li>